<section>
    <button>Update Expenses</button>
    <div class="form-section">
        <form action="#" method="post" id="theform">
            <p class="name">
                <input type="text" name="user name" id="un" placeholder="put name" />
            </p>
            <p class="name">
                <input type="text" name="user email" id="ue" placeholder="put email" />
            </p>
            <p class="button">
                <button type="submit">Update</button>
            </p>
        </form>
    </div>
</section>