.form-section{
    padding-top: 60px;
    width: 80%;
    margin-left: 10%; 
    form{
        width: 60%;
        margin-left: 20%;
        padding: 40px;
        background-color: rgba(132, 212, 224, 0.442);
        p.name{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
            input{
                width: 60%;
                margin-left: 20%;
                outline: none;
                padding: 10px;
                &:focus{
                    border:2px solid rgba(76, 76, 182, 0.561)
                }
            }
        }
    } 
}